<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<style>
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
</style>
    <title>PERSONAL INFORMATION</title>
</head>
<body background="../images/background.jpg">
    <a  id="a" href="about.html">Back</a>
    <h1 align="center" style="color:white; font-size: 45px;"><u>PERSONAL INFORMATION</u></h1>

    <img src="../images/ericka.png" width="450px" height="450px" align="right">

    <table style="width:75%" border="10px" bordercolor="red" bgcolor="black" cellspacing="1px" cellpadding="16px"
        <tr>
            <td align="center" style="color: white;">NAME</td>
            <td align="center" style="color: white;">Ericka Ann Alon Navasca</td>
        </tr>

        <tr>
            <td align="center" style="color:white">AGE</td>
            <td align="center" style="color:white">22 YEARS OLD</td>
        </tr>

        <tr>
            <td align="center" style="color:white">DATE OF BIRTH</td>
            <td align="center" style="color:white">November 14, 2000</td>
        </tr>

        <tr>
            <td align="center" style="color:white">PLACE OF BIRTH</td> 
            <td align="center" style="color:white">Santa Cruz, Laguna</td>
        </tr>

        <tr>
            <td align="center" style="color:white">NATIONALITY</td> 
            <td align="center" style="color:white">Filipino</td>
        </tr>

        <tr>
            <td align="center" style="color:white">RELIGION</td> 
            <td align="center" style="color:white">Roman Catholic</h2>
        </td>

        <tr>
            <td align="center" style="color:white">ADDRESS</td> 
            <td align="center" style="color:white">Brgy. Gatid, Santa Cruz, Laguna</td>
        </tr>

        <tr>
            <td align="center" style="color:white">HEIGHT</td> 
            <td align="center" style="color:white">5 FOOT 4 INCHES</td>
        </tr>

        <tr>
            <td align="center" style="color:white">WEIGHT</td> 
            <td align="center" style="color:white">143 kg</td>
        </tr>
    </table>

   
        <h1 align="center" style="color:white; font-size: 35px;"><u>PARENTS</u></h1>
   
    <table style="width:100%" border="10px" bgcolor="black" bordercolor="red" cellspacing="1px" cellpadding="16px"
        <tr>
            <td align="center" style="color:white">FATHER</td>
            <td align="center" style="color:white">Federico Navasca</td>
        </tr>

        <tr>
            <td align="center" style="color:white">MOTHER</td>
            <td align="center" style="color:white">Viviana Navasca</td>
        </tr>

    </table>

    <h1 align="center" style="color:white; font-size: 35px;"><u>HOBBIES</u></h1>

    <table style="width:100%" border="10px" bgcolor="black" bordercolor="red" cellspacing="1px" cellpadding="16px"
        <tr>
            <td align="center" style="color: white; font-size: 20px;">Playing games in this genres:</td>
            <td align="center"><a href="https://playvalorant.com/en-us/" style="color:white">RPG, Educational, Simulation, Puzzle</a> <a href="https://www.dota2.com/" style="color:white">DOTA 2</a> <a href="https://store.steampowered.com/app/1782210/Crab_Game/" style="color:white">CRAB GAME</a></td>
        </tr>

        <tr>
            <td align="center" style="color: white; font-size: 20px;">PLAY SPORTS</td>
            <td align="center" style="color: white; font-size: 15px;">Badminton</td>
            
        </tr>
    </table>
    

    <h1 align="center" style="color:white; font-size: 35px;"><u>SCHOOLS ATTENDED</u></h1>
    <table style="width:100%;" border="10px" bgcolor="black" bordercolor="red" cellspacing="1px" cellpadding="6px"
        <tr>
            <td align="center" style="color:white; font-size: 20px">NAME OF SCHOOL</td>
            <td align="center" style="color:white; font-size: 20px">ADDRESS</td>
            <td align="center" style="color:white; font-size: 20px; font-size: 20px">YEAR STARTED</td>
            <td align="center" style="color:white; font-size: 20px">YEAR GRADUATED</td>
        </tr>

        <tr>
            <td align="center" style="color:white; font-size: 15px">Gatid Elementary School</td>
            <td align="center" style="color:white; font-size: 15px">Gatid, Santa Cruz, Laguna</td>
            <td align="center" style="color:white; font-size: 15px">2007</td>
            <td align="center" style="color:white; font-size: 15px">2013</td>
        </tr>

        <tr>
            <td align="center" style="color:white; font-size: 15px">Pedro Guevara Memorial National High School</td>
            <td align="center" style="color:white; font-size: 15px">Santa Cruz, Laguna</td>
            <td align="center" style="color:white; font-size: 15px">2013</td>
            <td align="center" style="color:white; font-size: 15px">2016</td>
        </tr>

        <tr>
            <td align="center" style="color:white; font-size: 15px">Dacap Norte National High School</td>
            <td align="center" style="color:white; font-size: 15px">Pangasinan</td>
            <td align="center" style="color:white; font-size: 15px">2016</td>
            <td align="center" style="color:white; font-size: 15px">2017</td>
        </tr>
        
        <tr>
            <td align="center" style="color:white; font-size: 15px">Laguna Senior High School</td>
            <td align="center" style="color:white; font-size: 15px">Santa Cruz, Laguna</td>
            <td align="center" style="color:white; font-size: 15px">2017</td>
            <td align="center" style="color:white; font-size: 15px">2019</td>
        </tr>

        <tr>
            <td align="center" style="color:white">Laguna State Polytechnic University - Santa Cruz Campus</td>
            <td align="center" style="color:white">Santa Cruz, Laguna</td>
            <td align="center" style="color:white">2020</td>
            <td align="center" style="color:white">2024</td>
        </tr>
    </table>


    <div class="row">
      <div class="column" style="background-color:rgb(25, 25, 25);">
        <h1 style="color: red; font-size: 35px;" align="center">SKILLS</h1>
        <p style="color: red; font-size: 25px" align="center">Positive Attitude</p>
        <p style="color: red; font-size: 25px" align="center">Communicates Well using English Language</p>
        <p style="color: red; font-size: 25px" align="center">Honest</p>
        <p style="color: red; font-size: 25px" align="center">Loyal</p>
        <p style="color: red; font-size: 25px" align="center">Multi-tasking</p>
      </div>
      <div class="column" style="background-color:rgb(25, 25, 25);">
        <h1 style="color: red; font-size: 35px;" align="center">INTEREST</h1>
        <p style="color: red; font-size: 25px;" align="center">Creating Games</p>
        <p style="color: red; font-size: 25px;" align="center">Reading Books</p>

      </div>
    </div>

 
</body>

    
    
<style type="text/css">
    
    #a{
        background-color:#f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        margin-left: 20px;
        top: 20px;
        position: relative;
        border-radius: 30px;
        transition: .4s; 
        font-size: 20px;
    }
    #a:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
    </style>