.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}
.button1:hover {
    background-color: #ff0000;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}
.button2:hover {
    background-color: #ff0000;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}
.button3:hover {
    background-color: #ff0000;
    color: white;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}
.button4:hover {
    background-color: #ff0000;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
}
